body {
    min-width: 950px;
    margin: 0;
    padding: 0;
    font-size: 23px;
    line-height: 25px;
    font-family: "Georgia", sans-serif;
    color: #404040;
    background-color: white;
}

.container {
    width: 930px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.page-header {
    min-height: 230px;
    padding-top: 10px;
    background-color: white;
}
.header-logo {
    float: left;
    width: 146px;
    height: 54;
    }
header-logo img {
    width: 146px;
    height: 54;
}
.contacts {
    float: right;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #afb1b1;
    text-align: right;
}
.contacts a {
    color: #afb1b1; 
}
.main-nav {
    
    list-style: none;
    padding: 0;
    margin: -20px;
    
}
.main-nav li {
    float: left;
    margin-right: 20px;
    

}
.main-nav li:first-child {
    margin-left: 292px;   
}
.main-nav li:last-child {
    margin-right: 0;
}

.main-nav a {
    text-decoration: none;
    color: black;
    font-family: "Arial", sans-serif;
    font-size: 13px;
    text-transform: uppercase;
}

.main-nav a:hover,
.main-nav a:active {
    color: #e15e4f;   
}

.promo {
    margin-top: 60px;
    margin-bottom: -35px;
    font-size: 29px;
    line-height: 30px;
}
.promo p {
    display: inline-block;
    margin: 0;
    padding: 10px;
    background-color: #e15e4f;
    color: white;
    border-color: #e15e4f;
}

.promo p span {
    text-transform: uppercase;
}
.main {
    min-height: 625px;
    margin: 0;
    padding: 0;
    background-image: url("/img/Background_image_930%D1%85625.png");
    background-repeat: no-repeat;
    background-color: slategray;
    background-position: center;
    background-size: cover;   
}
.pain p {
    color: white;
    width: 440px;
    padding-left: 10px;
    }
.pain p:first-child {
    padding-top: 80px; 
}
.pain p:last-child {
    width: 700px;
}
.uppercase {
    text-transform: uppercase;
    margin: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.5);
    line-height: 30px;
}
.uppercase span {
    color: #e15e4f;
}
.email-form {
    margin: 0;
    padding: 0;
    margin-top: 35px;   
}
.email-form label {
    color: white;
    width: 270px;
}
.btn {
    display: inline-block;
    width: 230px;
    height: 57px;
    padding: 20px 15px;
    vertical-align: top;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 17px;
    font-family: "Arial", sans-serif;
    background-color: #e15e4f;
    border: solid 1px #e15e4f;
    border-radius: none;
    outline: none;
    outline-offset: 0;
}
/*заменить потом цвет на корректный*/
.btn:hover {
    background-color: #15d1c8;
    border: solid 1px #15d1c8;
    outline: 0;
    outline-offset: 0;
}
.btn:active {
    background-color: #15d1c8;
    border: solid 1px #15d1c8;
    outline: 0;
    outline-offset: 0;
}

input[type="email"] {
   
    display: inline-block;
    width: 280px;
    height: 51px;
    outline: none;
}

input[type="email"]::-webkit-input-placeholder {
    font-family: "Arial", sans-serif;
    font-size: 18px;
    font-style: italic;
    color: lightgray;
    padding-left: 20px;
}
.services-nav { 
    list-style: none;
    padding: 0;
    margin: 0;  
    margin-top: 10px;
    margin-bottom: 10px;
}

.services-nav li {
    float: left;  
}

.services-nav a {
    text-decoration: none;
    font-family: "Arial", sans-serif;
    font-size: 13px;
    color: black;
    border-right: solid 1px black; 
    padding: 0 20px;
}
.services-nav .first {
    padding-left: 10px;
}
.services-nav .last {
    border-right-color: transparent;
}
.services-nav a:hover,
.services-nav a:active {
    color: #e15e4f;
}
.footer {
    min-height: 115px;
    background-color: #15d1c8;  
}
.footer-copyright {
    display: inline-block;
    font-family: "Arial", sans-serif;
    font-size: 13px;
    color: white;
    padding-top: 40px;
    padding-left: 10px;
    text-align: center; 
}
.footer-copyright span {
    text-transform: uppercase;
}
.footer-copyright a {
    text-decoration: none;
    color: white;  
}
.footer-copyright a:hover {
    color: #e15e4f;
}
.footer-copyright a:active {
    color: #e15e4f;
}
.footer-social {
    float: right;
    width: 140px;
    font-size: 0; 
    margin-top: 38px;
    margin-right: 300px;
}
.social-btn {
    display: inline-block;
    width: 25px;
    height: 20px;
    margin-right: 10px;
    vertical-align: middle;
    background-image: url("../img/spritesheet.png");
    background-repeat: no-repeat;
}
.social-btn-vk {
    width: 25px;
    height: 17px;
    background-position: -45px -5px;
}
.social-btn-vk:hover,
.social-btn-vk:active {
  background-position: -45px -32px;    
}

.social-btn-fb {
    width: 10px;
    height: 19px;
    background-position: -5px -5px;
}
.social-btn-fb:hover,
.social-btn-fb:active {
    background-position: -25px -5px;
}
.social-btn-in {
    width: 17px;
    height: 17px;
    background-position: -80px -5px;
}
.social-btn-in:hover,
.social-btn-in:active {
    background-position: -80px -32px;
}
.social-btn-tel {
    width: 19px;
    height: 17px;
    background-position: -5px -59px;    
}
.social-btn-tel:hover,
.social-btn-tel:active {
    background-position: -34px -59px;
}
    
    
    

















